body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 5px auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
}
 
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
}

.radius input[type="radio"] {
    margin-right: 10px; /* Espaço entre o radio button e o texto */
}

form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 30%;
}

button:hover {
    background-color: #0056b3;
} 

.buttonContainer {
    display: flex;           
    flex-direction: row;      
    justify-content: center;  
    gap: 10px;   
}

.radio-group {
    display: flex;                 
    gap: 10px;                
}

.radio-group label {
    cursor: pointer;
}

.professor {
    display: none;
}

.aluno {
    display: none;
}