body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    height: 700px;
    margin: 5px auto;
    padding: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: stretch;
    background: white;
    border-radius: 10px;
}

h2 {
    text-align: left;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    overflow-y: auto;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.radio-group label {
    cursor: pointer;
}

.professor, .aluno {
    display: none;
}

/* Botões na parte inferior do formulário */
.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 10px;
    padding: 10px 0 0 0;
    background: white;
}

form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 30%;
}

button:hover {
    background-color: #0056b3;
}

.radio-group {
    display: flex;                 
    gap: 10px;                
}

.radio-group label {
    cursor: pointer;
}